# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

*.vcxproj*
*.ipch
*.db
.vs/CS324HW1/v17/.suo
.vs/CS324HW1/v17/ipch/AutoPCH/e3035eaa2106aa07/GRAPHICS.ipch
.vs/CS324HW1/v17/ipch/AutoPCH/a1670deefe388fff/MAIN.ipch
.vs/CS324HW1/v17/Browse.VC.db
*.ipch
